@font-face 
{
 font-family: "Roboto";
 src: url("/fonts/Roboto/Roboto-Regular.ttf") format("ttf");

 font-family: "Roboto-Medium";
 src: url("/fonts/Roboto/Roboto-Medium.ttf") format("ttf");

 font-family: "Roboto-Thin";
 src: url("/fonts/Roboto/Roboto-Thin.ttf") format("ttf");

 font-family: "Shrikhand";
 src: url("/fonts/Shrikhand/Shrikhand-Regular.ttf") format("ttf");
}

/* BODY */

body{
    font-family: "Roboto", Arial;
    margin: 0px;
}

body img{
    object-fit: cover;
    height: 100%;
}

img{
    width: 100%;
}

/* HEADER */

header{
    width: auto;
    height: 3.5em;
    display: flex;
    justify-content: center;
}

header img{
    height: 1.55em;
    width: 9em;
    margin-top: 1em;
}

/* LOADER */

.loader{
    background-color: white;
    position: fixed;
    z-index: 1;
    inset: 0;
    height: 100vh;
    opacity: 0.95;
    animation: disappear 2s;
    animation-fill-mode: forwards;
}

body:hover .loader{
    display: none;
}

@keyframes disappear{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.lds-dual-ring {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #9356DC transparent #FF79DA transparent;
    animation: lds-dual-ring 1.8s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* LOCATION */

.search{
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.4em;
    font-size: 0.7em;
    height: 3em;
    width: 100%;
}

.search h2{
    display: none;
}

/* SECTION CATCH PHRASE */

.section_one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f4f4f4;
    padding: 0em 1em 1.5em 1em;
}

.section_one h1{
    font-size: 1.3em;
    margin-bottom: -0.5em;
    width: 10em;
    font-family: "Roboto Medium", Arial;
    font-weight: normal;
}

.section_one p{
    font-size: 0.95em;
    font-family: "Roboto light", Arial;
}

/* BUTTON */

.section_one a{
    text-decoration: none;
    border-radius: 40px;
    height: 3rem;
    font-size: 1em;
    width: 13rem;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(147,86,220);
    background: linear-gradient(352deg, rgba(147,86,220,1) 9%, rgba(147,86,220,1) 34%, rgba(255,121,218,1) 100%, rgba(255,121,218,1) 100%); 
    font-family: "Roboto", Arial;
    transition: 1s;
}

.section_one a:hover{
    opacity: 0.78;
    box-shadow: 1px 1px 12px 1px #4F4F4F;
}

/* SECTION FUNCTIONING */
.section_two{
    margin: 1em;
}

.section_two ul{
    display: flex;
    flex-direction: column;
    grid-gap: 1.5em;
    padding: 0;
    margin-left: 0.5em;
}

.section_two li{
    display: flex;
    text-decoration: none;
    grid-gap: 1em;
    align-items: center;
    box-shadow: 0.2em 0.2em 1em lightgrey;
    border-radius: 1em;
    height: 3.7em;
    width: 100%;
    transition: 950ms;
}

.section_two li:hover{
    background-color: #ebd6ff;
    box-shadow: 1px 1px 5px #4F4F4F
}

.section_two li:hover i{
    color: #9356DC;
}

.section_two i{
    color: #777778;
    font-family: "Font Awesome 5 Free";
}

.section_two p{
    font-family: "Roboto Medium", Arial;
    font-size: 0.85em;
    margin-left: -0.7em;
}

.number{
    background-color: #9356DC;
    color: white;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECTION RESTAURANTS */

.section_three{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.section_three h2{
    margin-left: 0.5em;
}

.section_three img{
    border-radius: 1em 1em 0em 0em;
}

/* CARDS */

.all_card{
    padding: 1em;
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
}

.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    box-shadow: 1px 1px 5px lightgrey;
}

.card img{
    height: 9em;
}

.card h3{
    font-size: 1em;
    margin-bottom: -0.5em;
}

.card p
{
    font-size: 0.8em;
}

.card i{
    display: flex;
    justify-content: flex-end;
    font-family: "Font Awesome 5 Free";
}

.contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    height: 3em;
}

.fas{
    font-size: 1.2em;
    color: white;
    -webkit-text-stroke-color: grey;
    -webkit-text-stroke-width: 1px;
    transition: 1000ms;
    font-family: "Font Awesome 5 Free";
}

.fas:hover{
    font-weight: bold;
    color: #FF79DA;
    -webkit-text-stroke-color: #FF79DA;
}

/* NEWS */

.new{
    position: absolute;
    background-color: #a2e0c8;
    color: #468a68;
    height: 1.7em;
    width: 4.3em;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65%;
    margin-top: 3%;
}

.new p{
    font-size: 0.8em !important;
    font-family: "Roboto Medium", Arial;
}

/* FOOTER */

footer{
    background-color: #474747;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0em 1em 1em 1em;
}

footer h2{
    font-family: "Shrikhand", Arial;
    font-weight: normal;
    font-size: 1em;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

footer .link{
    display: flex;
    flex-direction: column;
}

footer i{
    margin: 0em 0.5em 0em 0em;
    font-family: "Font Awesome 5 Free";
}

footer a:hover{
        font-weight: bold;
    }

/* MEDIA QUERIES TABLETTE */

@media (min-width: 426px) and (max-width: 1023px){
    .section_two ul{
        flex-direction: row;
    }

    .all_card{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .card{
        width: 48.5%;
    }

    .new{
        margin-left: 35%;
        margin-top: 1.5%;
    }

    footer{
        padding: 0em 2em 2em 2em;

    }

    footer .link{
        flex-direction: row;
        grid-column-gap: 3em;
        grid-gap: 0.5em;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
}

/* MEDIA QUERIES DESKTOP */

@media (min-width: 1024px) and (max-width: 2560px){
    header{
        height: 4.5em;
    }

    header img{
        height: 2.55em;
        width: 14.9em;
    }

    .search{
        font-size: 1em;
    }

    .section_one{
        height: 13em;

    }

    .section_one h1{
        font-size: 1.7em;
        width: 16em;
    }

    .section_one p{
        font-size: 1.2em;
        width: 19em;
    }

    .button{
        height: 3em;
        width: 12em;
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section_two{
        height: 9em;
    }

    .section_two p{
        font-size: 1em;
    }

    .section_two ul{
        flex-direction: row;
    }

    .all_card{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .card{
        width: 49%;
    }

    .card img{
        height: 11em;
    }

    .card h3{
        font-size: 1.2em;
        margin-bottom: -0.8em;
    }

    .card p{
        font-size: 1em;
    }

    .card i{
        font-size: 1.5em;
    }

    .far{
        font-size: 4em;
    }

    .new{
        margin-left: 41%;
        margin-top: 1%;
        width: 6%;
        height: 1.8em;
    }

    footer{
        padding: 0em 2em 2em 2em;

    }

    footer h2{
        font-size: 1.5em;

    }

    footer a{
        font-size: 1.1em;
    }

    footer .link{
        flex-direction: row;
        grid-gap: 1em;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
}