@font-face 
{
 font-family: "Roboto";
 src: url("/fonts/Roboto/Roboto-Regular.ttf") format("ttf");

 font-family: "Roboto-Medium";
 src: url("/fonts/Roboto/Roboto-Medium.ttf") format("ttf");

 font-family: "Roboto-Thin";
 src: url("/fonts/Roboto/Roboto-Thin.ttf") format("ttf");

 font-family: "Shrikhand";
 src: url("/fonts/Shrikhand/Shrikhand-Regular.ttf") format("ttf");
}

/* SPIN */

/* BODY */
body{
    font-family: Roboto;
    height: 100%;
}

body img{

    object-fit: cover;
    height: 100%;
}

/* ICON */
.fas{
    color: black;
}

/* LOGO */
span{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo2{
    display: none;
}

/* HEADER */
header{
    box-shadow: 0px 3px 10px lightgray;
    margin-right: -7px;
    margin-left: -9px;
    margin-top: -32px;
    height: 130px;
    width: 660px;
}

header img{
    margin-top: 36px;
}

/* SEARCH - SECTION THREE */
.all{
    margin-left: 20px;
    margin-right: 20px;
}

/* SEARCH */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    margin-left: -27px;
    margin-top: auto;
    width: 250%;
    height: 67px;
    }

.search h2{
    display: none;
}

.search p{
    font-size: 25px;
    justify-content: center;
    margin-left: -22px;
}

.search form{
    display: flex;
}

.search input{
    height: 45px;
    width: 320px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EAEAEA;
    border: none;
}

.search div{
    display: flex;
    align-items: center;
    height: 63px;
    width: 63px;
    font-size: 26px;
}

/* SECTION ONE */
.section_one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6F6F6;
    height: 441px;
    margin-left: -27px;
    width: 250%;
}

.section_one h1{
    font-size: 43px;
    justify-content: center;
    width: 417px;
    margin-top: -10px;
    text-align: center;
    font-family: Roboto-Medium;
}

.section_one p{
    margin-top: -7px;
    text-align: center;
    font-size: 29px;
    font-family: Roboto-Thin;
    width: 95%;
}

.section_one a{
    text-decoration: none;
    border-radius: 40px;
    height: 5rem;
    font-size: 25px;
    width: 23rem;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(147,86,220);
    background: linear-gradient(352deg, rgba(147,86,220,1) 9%, rgba(147,86,220,1) 34%, rgba(255,121,218,1) 100%, rgba(255,121,218,1) 100%); 
    font-family: Roboto-Medium;
}

.section_one a:hover{
    transition: boutton 1s;
}

@keyframes boutton{
    to {
     background-color: #FF98E3;
     box-shadow: 3px 3px 7px gray;}
}

/* SECTION TWO */
.section_two{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: Roboto-Medium;
}

.section_two h2{
    font-size: 2.5rem;
    justify-content: flex-start;
    margin-left: -27px;
}

.section_two ul{
    display: flex;
    flex-direction: column;
    width: auto;
    grid-gap: 30px;
}

.section_two li{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 1px 1px 5px lightgrey;
    width: 34rem;
    height: 6rem;
    margin-left: -34px;
    grid-gap: 10px;
    background-color: rgb(247, 247, 247);
}

.section_two li p{
    font-size: 1.5rem;
}

.section_two li:hover{
    background: rgba(176, 97, 255, 0.2);
    transition: background-color 1s
}

.number{
    color: white;
    border-radius: 30px;
    background-color: #9356DC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: -21px;
}

/* SECTION THREE */
.section_three{
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    justify-content: flex-start;
    margin-left: -28px;
    width: 228%;
}

.section_three h2{
    font-size: 2.5rem;
    font-family: Roboto-Medium;
}

/* CARD */
.all_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    border-radius: 20px;
    height: 416px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: black;
    box-shadow: 1px 1px 5px lightgray;
}

.card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 18.5rem;
}

.card h3{
    margin-bottom: -20px;
    font-size: 31px;
    font-family: Roboto-Medium;
}

.card p{
    font-size: 24px;
    font-family: Roboto-Thin;
}

.card i{
    font-size: 3rem;
    justify-content: center;
}

.contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -5px;
}

.new{
    background-color: #99E2D0;
    color: seagreen;
    height: 2.5rem;
    width: 6.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 477px;
    margin-top: 17px;
    font-size: 19px;
}

.new_two{
    background-color: #99E2D0;
    color: seagreen;
    height: 2.5rem;
    width: 6.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 477px;
    margin-top: 471px;
    font-size: 19px;
}

}
.section_three .fas:hover{
  background-color: red;
}

/* FOOTER */
footer{
    background-color: #393939;
    color: white !important;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 200px;
    padding-bottom: 30px;
    margin-left: -8px;
    margin-bottom: -8px;
    width: 142% !important;
    font-family: Roboto-Medium;
}

footer .link{
    display: flex;
    align-items: flex-start !important;
    flex-direction: column !important;
    width: 431px;
    font-size: 22px;
    grid-gap: 5px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer .fas{
    color: white;
    margin-right: 10px;
}

footer h2{
    font-family: Shrikhand;
    font-size: 26px;
}

footer a:hover{
    font-weight: bold;
}

@media (min-width: 326px) and (max-width: 768px){
    /* HEADER */
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 124%;
        margin-left: -10px;
        margin-top: -37px;
        height: 148px;
        box-shadow: 0px 3px 10px lightgray;
    }

    header img{
        height: 54px;
        margin-left: 16px;
        margin-top: 41px;
    }

    /* SEARCH */
    .search{
        background-color: #EAEAEA;
        width: 131.5%;
        margin-left: -33px;
        margin-top: auto;
        margin-bottom: auto;
    }

    /* SECTION ONE */
    .section_one{
        margin-left: -30px;
        width: 131%;
        height: 300px;
        border-radius: 0px;
    }

    .section_one h1{
        font-size: 2rem;
        width: 90%;
        text-align: center;
        margin-top: -8px;
    }

    .section_one p{
        margin-top: -7px;
        text-align: center;
        font-size: 22px;
        width: 90%;
    }

    /* SECTION TWO */
    .section_two{
        width: 109%;
        height: auto;
        margin-left: -39px;
        align-items: flex-start;
    }

    .section_two h2 {
        margin-left: 0px;
    }

    .section_two ul{
        flex-direction: column;
        width: 110%;
        grid-gap: 20px;
        margin-left: 8px;
    }

    .section_two li{
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 17px;
        box-shadow: 1px 1px 5px lightgray;
        width: 100%;
        grid-gap: 10px;
        background-color: #F6F6F6;
    }

    .number{
        color: white;
        border-radius: 30px;
        height: 1.5rem;
        width: 1.5rem;
        margin-left: -13px;
        background-color: #9356DC;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    /* SECTION THREE */
    .section_three{
      width: 122.5%;
      border-radius: 0%;
      margin-left: -30px;
      margin-bottom: 0px;
    }

    /* CARD */
    .all_card{
        flex-direction: column;
        grid-gap: 30px;
    }

    .card{
        height: auto;
        width: 101%;
    }

    .card img{
        height: 19.5rem;
    }

    .card h3{
        font-size: 23px;
        width: 190px;
        margin-top: 18px;
    }

    .card p{
        font-size: 18px;
        margin-top: 19px;
    }

    .card i{
        font-size: 27px;
    }

    .number{
        height: 2rem;
        width: 2rem;
        margin-left: -17px;
    }

    .new{
        margin-left: 745px;
    }

    .new_two{
        margin-top: 436px;
        margin-left: 745px;
    }

    /* FOOTER */
    footer{
        padding-left: 30px;
        padding-right: 200px;
        padding-bottom: 30px;
        margin-right: -56px;
        margin-left: -8px;
        margin-bottom: -8px;
        width: 93.2% !important;
    }

    footer .link{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 10px;
    }

    footer a{
        text-decoration: none;
        color: white;
    }

    footer .fas{
        color: white;
        margin-right: 10px;
    }

    footer h2{
        font-family: Shrikhand;
        font-size: 18px;
    }

    footer a:hover{
        font-weight: bold;
    }

}

@media (min-width: 769px) and (max-width: 1440px){

header{
    margin-right: -7px;
    margin-left: -9px;
    margin-top: -32px;
    height: 100px;
    width: 101.2%;
}

header img{
    height: 39px;
}

    /* SEARCH */
.search{
    width: 104%;
    margin-bottom: 30px;
    height: 41px;
}

.search div{
    font-size: 20px;
    margin-left: -24px;
}

.search p{
    font-size: 23px;
}

/* SECTION ONE */
.section_one{
    width: 100%;
    border-radius: 30px;
    margin: auto;
    height: 18rem;
}

.section_one a{
    border-radius: 40px;
    height: 4rem;
    width: 18rem;
    font-size: 22px;
}

.section_one h1{
    width: 717px;
    height: 35px;
    font-size: 31px;
}

.section_one p{
    height: 25px;
    margin-top: -17px;
    font-size: 26px;
}

.section_two{
    padding-top: 0px;
    width: 97%;
    margin-left: -4px;
}

.section_two h2{
    font-size: 2.3rem;
    margin-left: 0px;
}

.section_two ul{
    width: auto;
    height: 90px;
    flex-direction: row;
    grid-gap: 120px;
}

.section_two li{
    border-radius: 17px;
    width: 29.5%;
}

.section_two li p{
    font-size: 1.3rem;
}

.number{
    height: 2rem;
    width: 2rem;
    margin-left: -18px;
}

/* SECTION THREE */
.section_three{
    justify-content: space-between;
    margin-bottom: 35px;
    border-radius: 30px;
    width: 96%;
    padding-top: 0px;
    margin-left: 0px;
}

.section_three h2{
    font-size: 2.3rem;
}

/* CARD */
.all_card{
    flex-direction: row;
    grid-gap: 40px;
}

.card{
    border-radius: 20px;
    height: auto;
    width: 18rem;
    font-size: 10px;
}

.card img{
    height: 10rem;
}

.card h3{
    margin-bottom: -12px;
    font-size: 19px;
}

.card p{
    font-size: 1rem;
}

.card i{
    font-size: 2rem;
}

.new{
    height: 2rem;
    width: 5rem;
    margin-left: 194px;
    margin-top: 13px;
    font-size: 16px;
}

.new_two{
    height: 2rem;
    width: 5rem;
    margin-left: 542px;
    margin-top: 13px;
    font-size: 16px;
}

}
.section_three .fas:hover{
  background-color: red;
}

/* FOOTER */
footer{
    width: 85%;
}

footer .link{
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    column-gap: 214px;
    font-size: 16px;
    width: 104%;
}

footer h2{
    font-size: 23px;
}

footer a{
    width: 131px;
}
}   
 }